<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Node</title>
  <link rel="stylesheet" href="font/Inter/inter.css">
  <link rel="stylesheet" href="font/BDO Grotesk/style.css">
  <link rel="stylesheet" href="font/lineicons 4.0/css/icons.css">
  <!-- <link rel="stylesheet" href="font/Be Vietnam/be_vietnam.css"> -->
  <!-- <link rel="stylesheet" href="font/Poppins/poppins.css"> -->
  <!-- <link rel="stylesheet" href="font/IBM Plex Sans/ibm_plex_sans.css"> -->
  <script src="js/tailwind.js"></script>
  <script src="js/flowbite.min.js"></script>
  <script type="module">
    tailwind.config = {
      darkMode: ''
    }
  </script>
  <link rel="stylesheet" href="css/app.css">    
</head>
<body>
  <div class="wrapper">    
    <div class="sidebar">
      <a href="/" class="logo">
        <div class="brand">
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><rect x="32" y="48" width="448" height="416" rx="48" ry="48" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M96 112l80 64-80 64M192 240h64"/></svg>
        </div>
        <div class="logo-label">THE NODE</div>
      </a>
      <ul class="menu">
        <li>
          <a href="/" class="menu-item actived">
            <i class="lni lni-home"></i>
            Home
          </a>
        </li>
        <li>
          <a href="/fileman" class="menu-item">
            <i class="lni lni-folder"></i>
            Fileman
          </a>
        </li>
        <li>
          <a href="/imager" class="menu-item">
            <i class="lni lni-image"></i>
            Imager
          </a>
        </li>
        <li>
          <a href="/decrypt" class="menu-item">
            <i class="lni lni-keyboard"></i>
            Decrypt
          </a>
        </li>
      </ul>
    </div>
    <div class="header">
      <form class="header-form-search" spellcheck="false" autocomplete="off">
        <div class="input-search-group">          
          <div class="search-icon">
            <i class="lni lni-search-alt"></i>
          </div>
          <input type="text" placeholder="Search...">
          <!-- <button class="search-button">K+#</button> -->
        </div>
      </form>
      <div class="option-group">
        <button class="option-button">
          <i class="lni lni-suspect"></i>
        </button>
        <button class="option-button">
          <i class="lni lni-cog"></i>
        </button>
      </div>
    </div>
    <div class="main">